.btn-blue {
    background-color: #0F56D9;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
    background-color: dimgray;
    box-shadow: 2px 2px 2px 1px rgba(245, 242, 242, 0.2);
}